.filter {
  padding: 10px 30px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.filter .ant-form-horizontal {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  /* gap: 20px; */
}

.filter .ant-form-item {
  margin-right: 35px;
  margin-bottom: 16px;
  flex: 0 0 auto;
}


/* 最后一个表单项不添加右边距 */
.filter .ant-form-item:last-child {
  margin-top: 25px;
}